<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.pms_rdso">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.login.LoginActivity"></activity>
        <activity
            android:name=".nopriority"
            android:label="No Priority"/>
        <activity
            android:name=".lowpriority"
            android:label="Low Priority"/>
        <activity
            android:name=".mediumpriority"
            android:label="Medium Priority"/>
        <activity
            android:name=".highpriority"
            android:label="High Priority"/>
        <activity
            android:name=".projectpriority"
            android:label="Project Priority"/>
        <activity
            android:name=".login_basic"
            android:label="Login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>